extends layout

block content

  p Delete a stock
  form.subtle(action="/market/delete", method="post")
    div.input
      span.label.input-label Username: 
      input.standard-input(type="text", name="username", value="admin")
    div.input
      span.label.input-label Password: 
      input.standard-input(type="password", name="password", value="adminpassword")
      br
    div.input
      span.label.input-label Ticker Symbol: 
      input.standard-input(type="text", name="ticker")
    br
    div.actions
      input.standard-input(type="submit", value="Delete")