doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  div
    div.p.jumbo Stock Market
    ul
      li
        a(href="create") Create
        a(href="create") Create
        a(href="create") Create
        a(href="create") Create
        a(href="create") Create
        a(href="create") Create
  body
    block content
