extends layout

block content

  if createdStock
    div
      h3 Stock Data Added: 
      div.pre= createdStock
    hr

  p Create a new entry in the stock market
  form.subtle(action="/market/create", method="post")
    div.input
      span.label.input-label Username: 
      input.standard-input(type="text", name="username")
    div.input
      span.label.input-label Password: 
      input.standard-input(type="password", name="password")
    div.input
      span.label.input-label Stock Data: 
      textarea.standard-input(name="stock_data", cols="40", rows="5")
    br
    div.actions
      input.standard-input(type="submit", value="Add")